  <!DOCTYPE html>
  <html lang="en">
  <head>
  <link rel="stylesheet"
  	href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
  </head>
  <body ng-app="myApp">
  	<div class="container" ng-controller="AppController">

  		<div class="page-header">
  			<h1>Vehicles API</h1>
  		</div>

  		<div class="alert alert-info" role="alert"
  			ng-hide="vehicles &amp;&amp; vehicles.length > 0">There are no
  			vehicles yet.</div>



  		<form  role="form"
  			ng-submit="addVehicle(newYear, newMake, newModel)">

        <div class="form-group row">
           <label for="input3" class="col-sm-2 form-control-label">Year</label>
           <div class="col-sm-10">
             <input type="number" class="form-control" required="" ng-model="newYear"  min="1950" max="2050" integer id="input3" placeholder="Enter the year.."/>
          	    </br>
                <div ng-show="form.$submitted || form.uEmail.$touched">
                <span ng-show="form.size.$error.integer">The year is not valid!</span>
             <span ng-show="form.size.$error.min || form.size.$error.max">The value must be in range 1950 to 2050!</span>
                </div>
          	    
           </div>
         </div>

         <div class="form-group row">
           <label for="input2"  class="col-sm-2 form-control-label">Make</label>
           <div class="col-sm-10">
             <input type="text"  class="form-control" required="" ng-model="newMake" id="input2" placeholder="Enter the make..">
           </div>
         </div>

          <div class="form-group row">
            <label for="input1" class="col-sm-2 form-control-label">Model</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="input1" required="" ng-model="newModel" placeholder="Enter the model..">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-secondary" ng-disabled="!newYears && !newMake && !newModel" title="Add">Add</button>
            </div>
          </div>

  			


        <div class="panel panel-default">

            <div class="panel-heading"><span class="lead">List of Vehicles </span></div>
            <div class="tablecontainer">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            
                            
                            <th>Year</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th width="20%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vehicle in vehicles">

                            
                            <td>            
                              <span data-ng-hide="editMode">{{vehicle.year}}</span>
                              <input type="text" data-ng-show="editMode" data-ng-model="vehicle.year" data-ng-required />
                            </td>
                            <td>            
                              <span data-ng-hide="editMode">{{vehicle.make}}</span>
                              <input type="text" data-ng-show="editMode" data-ng-model="vehicle.make" data-ng-required />
                            </td>                      <td>            
                              <span data-ng-hide="editMode">{{vehicle.model}}</span>
                              <input type="text" data-ng-show="editMode" data-ng-model="vehicle.model" data-ng-required />
                            </td>
                            <td>

                            <button class="btn btn-success custom-width" data-ng-hide="editMode" type="button"  data-ng-click="editMode = true">Edit</button>  
							<button class="btn btn-success custom-width" data-ng-show="editMode" type="button"  data-ng-click="editMode = false; updateVehicle(vehicle)" >Save</button>
                            <button class="btn btn-danger custom-width"  data-ng-hide="editMode" type="button"  data-ng-click="deleteVehicle(vehicle)" >Remove</button>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 

        <hr />
        
    </form>

    </div>





  	<script type="text/javascript"
  		src="./bower_components/angular/angular.min.js"></script>
  	<script type="text/javascript"
  		src="./bower_components/angular-resource/angular-resource.min.js"></script>
  	<script type="text/javascript"
  		src="./bower_components/lodash/dist/lodash.min.js"></script>
      <link href="./bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">
      <script src="./bower_components/angular-xeditable/dist/js/xeditable.js"></script>
  	<script type="text/javascript" src="./app/app.js"></script>
  	<script type="text/javascript" src="./app/controllers.js"></script>
  	<script type="text/javascript" src="./app/services.js"></script>
  </body>
  </html>